#root{
  display: grid;
  overflow-x: hidden;
}

.main-body{
  position: absolute;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  background-color: gold;
  & .text-uppercase{
    margin-top: 20vh;
  }
}

.creators{
  margin-top: calc(100vh + 16vh);
}

.button {
  margin-top: 30vh;
}

#popup{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}